{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block page_title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'common/css/l_sidebar.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'common/css/fontawesome/all.css' %}"> -->
    <script src="https://kit.fontawesome.com/79130a0b97.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block extra_head %}
    {% endblock %}

</head>
<body>
    <header>

        <input id="l_sidebar" class="l_sidebar_button" type="checkbox">

        <div class="left_header">
            <label class="l_sidebar_label" for="l_sidebar">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </label>
            <a class="header_link" href="{% block header_link %}{% endblock %}"><h1>{% block header_title %}{% endblock %}</h1></a>
            <div class="header_right_content">
            {% block header_right_content %}
            {% endblock %}
            {% if user.is_active %}
                <div class="px-1">
                    <a href="">{{ user }}</a>
                </div>
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button type="submit">{% trans 'Sign Out' %}</button>
                    </form>
            {% else %}
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                </form>
            {% endif %}
            </div>
        </div>

        <div class="l_sidebar_menu">
            {% block sidebar_content %}{% endblock %}
            {% for link in links %}
                <div>
                    <a href="{{ link.link}}">{{link.name}}</a>
                </div>
            {% endfor %}
        </div>

        <label class="l_sidebar_closer" for="l_sidebar"></label>

    </header>

    <main>
    {% block main %}
    {% endblock %}
    </main>

</body>
</html>