{% extends "common/l_sidebar.html" %}

{% block extra_head %}
{% endblock %}

{% block page_title %}投稿用ページ{% endblock %}
{% block header_link %}{% url 'bbs:bbs' %}{% endblock %}
{% block header_title %}
画像のアップロード
{% endblock %}

<!-- ヘッダーの右側に表示させたいものを設定-->
{% block header_right_content %}{% endblock %}

<!-- 左サイドバーの中に入れたいものをかく-->
{% block slidebar_content %}
{% endblock %}

{% block main %}   
    
    <main class="container">

        <ul class="messages list-group">
            {% for message in messages %}
            <li {%if message.tags %} class="list-group-item {{ messages.tags}}"{% endif %}>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        
        <p><a href="{% url 'bbs:document' %}">ファイルのアップロードはこちら</a></p>

        <form method="POST" enctype="multipart/form-data" class="bg-secondary text-light p-2">
            {% csrf_token %}
            <ul style="list-style: none">
                <li>
                    <label for="photo" class="d-flex">画像</label>
                    <input type="file" name="photo">
                </li>
                <li>
                    <label for="name" class="d-flex" >名前</label>
                    <input type="text" name="name">
                </li>
                <li>
                    <label for="age" class="d-flex">年齢</label>
                    <input type="text" name="age">
                </li>
                <li>
                    <label for="comment" class="d-flex">コメント</label>
                    <textarea name="comment" class="form-control"></textarea>
                </li>
                <li>
                    <input class="mt-2 form-control" type="submit" value="送信"> 
                </li>   
        </form>

        {% for album in albums %}
            <div class="my-2">
                <img class="img-fluid" src="{{ album.photo.url }}" alt="投稿された画像">
            </div>
        {% endfor %}
{% endblock%}