{% extends "common/l_sidebar.html" %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block page_title %}投稿用ページ{% endblock %}
{% block header_link %}{% url 'bbs:document' %}{% endblock %}
{% block header_title %}
ファイルのアップロード
{% endblock %}

<!-- ヘッダーの右側に表示させたいものを設定-->
{% block header_right_content %}{% endblock %}

<!-- 左サイドバーの中に入れたいものをかく-->
{% block slidebar_content %}
{% endblock %}

{% block main %}
    
    <main class="container">

        <ul class="messages list-group">
            {% for message in messages %}
            <li {%if message.tags %} class="list-group-item {{ messages.tags}}"{% endif %}>
                {{ message }}
            </li>
            {% endfor %}
        </ul>

        {{ form }}
        
        {% if errors %}
        {{ errors }}
        {% endif %}

        <p><a href="{% url 'bbs:album' %}">画像のアップロードはこちら</a></p>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file">
            <input class="form-control" type="submit" value="送信">
        </form>
    
        {% for document in documents %}
        <div class="my-2">
            <a href="{{ document.file.url }}">{{ document.file_name}}</a>
        </div>
        {% endfor %}

{% endblock %}