{% extends './base.html' %}

{% block main %}
        <h1>ここは個別ページです。</h1>

        {# ループせずにそのまま表示できる #}
        <div class=border>
            <div class="mb-2">
                {{ topic.comment }}
            </div>
            <form class="mb-2" action="{% url 'bbs:delete' topic.id %}" method="POST">
                {% csrf_token%}
                <input class="btn btn-danger" type="submit" value="削除">
            </form>
            <a class="btn btn-success" href="{% url 'bbs:edit' topic.id %}">編集</a>
        </div>
{% endblock  %}